@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css');

body{
  font-family:'Tossface', 'IBM Plex Sans KR';
  position:fixed;
  width:100vw;
  height:100dvh;
  margin:0;
  overflow:hidden;
  overscroll-behavior:none;
}
#merge-place{
  width:80vw;
  height:60dvh;
  margin:0 auto;
}
#recipe-list{
  box-sizing:border-box;
  width:100vw;
  height:40dvh;
  padding:15px;
  border-top:2px solid #C8C8C8;
  overflow-y:auto;
}
#recipe-list::-webkit-scrollbar{
  display:none;
}
.item,.item-draggable{
  display:inline-block;
  height:30px;
  border-radius:15px;
  padding-left:15px;
  padding-right:15px;
  margin-right:3px;
  margin-bottom:6px;
  background-color:#FFF;
  box-shadow: 0 0 0 1px #C8C8C8 inset;
}
.item-draggable{
  position:absolute;
}
.item-draggable:active{
  z-index:1;
}